.Card {
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  min-width: 100px;
  width: 250px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}
.Card img {
  width: 50%;
}
.Card .Nome {
  text-transform: capitalize;
}
.Card .Descricoes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Card .Id {
  margin: 0;
  text-align: left;
}
