.CardIndividual {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  color: white;
  box-shadow: 1px 2px 5px black;
  border: 1px solid black;
  cursor: default;
}
.CardIndividual img {
  width: 200px;
}
.CardIndividual p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}
