.teste {
  width: 200px;
  height: 250px;
  margin: 5px;
  background-color: red;
}

a {
  text-decoration: none;
}
.Container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
