body {
  background-image: url(/src/Assets/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: "Bebas Neue", cursive;
}
