body {
  background-image: url(/src/Assets/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: "Bebas Neue", cursive;
}
.controls {
  display: flex;
  position: absolute;
  right: 200px;
  top: 20px;
  cursor: default;
  flex-direction: row;
  font-size: 18px;
  color: white;
}
#play,
#pause {
  margin-left: 10px;
  cursor: pointer;
}
#play:hover,
#pause:hover {
  color: yellow;
}
