.Individual {
  display: flex;
  width: 200px;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.Individual h2 {
  margin: 0;
}
